<div class="container">
  <div class="row mt-1">
    <div class="col-3 socialisme">
      {{n}}
    </div>
    <div class="col-9 conservatisme">
      {{myWisdom}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3 socialisme">
      {{equalToN(9)}} {{equalToN(8)}}
    </div>
    <div class="col-9 conservatisme">
      {{bruh()}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3 socialisme">
    <ul>
      <li>{{hateList[0]}}</li>
      <li>{{hateList[1]}}</li>
      <li>{{hateList[2]}}</li>
    </ul>
    </div>
    <div class="col-9 conservatisme">
      <p>J'ai une belle serviette {{myServiette.color}} de {{myServiette.length}} mètres. <br> {{myServiette.use()}} <br> <img src="/assets/images/{{myServiette.image}}" alt=""></p>
    </div>
  </div>
</div>